body{
          
    margin: 0;
    padding: 0;
    background-image: url("login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.image{
        filter: brightness(100);
    }
.container {
    height: 100vh;
}

small{
    font-family: monospace;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}
   /* Style the buttons that are used to open and close the accordion panel */
   .accordion {
    background-color: darkblue;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: grey;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color:white;
    display: none;
    overflow: hidden;
} 

input[type=text]:focus {
    border: none;
    border-bottom: 3px solid cyan;
    width: 100%;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid blue;
}

select,option{
    width: 100%;
}
 